{% extends context.docTemplate %}

{% block articles %}
    {% for article in doc.color_palette  %}
        <article class="article">
            <h3 class="article-title">{{ article.name }}</h3>
            <div class="article-content">
                <p>{{ article.desc }}</p>

                <div class="color-palette">
                    <ul>
                        {% for item in article.colors %}
                            <li class="color {{ item.class }} {{ item.color }}">${{ item.color }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock %}